<!DOCTYPE html>
<html>
  <head>
    <title>Newgig</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="bg-light">
    <%= render 'header' %>
    <div><%= notice %></div>
    <div><%= alert %></div>
    <%= yield %>
  </body>
</html>
